{% load static %}
{% include 'gallery/nav.html' %}

<div class="kleanity-page-wrapper" id="kleanity-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 150px 0px 30px 0px;">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                     style="background-color: #333333; background-size: cover;background-position: center;"
                     data-parallax-speed="0.2"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                             style="padding-bottom: 11px;">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 35px;letter-spacing: 0px;text-transform: none;color: #ffffff; font-family: didot-title;"
                                ">The Story<span
                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 62px;letter-spacing: 0px;text-transform: none;color: #ffffff; font-family: didot-title;"
                                ">About Gabrielle Kourdadzé<span
                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 95px 0px 45px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f2f2f2 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn"
                 data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <img src="{% static 'upload/bio1.JPG' %}" alt="" width="100%" height="200">
                                        <!-- <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 30px;font-weight: 300;letter-spacing: 0px;text-transform: none;">We are the best architect firm <br>& Building Consultant<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                        <div class="gdlr-core-divider-container gdlr-core-left-align"
                                             style="max-width: 50px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                 style="border-color: #565656;border-bottom-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30" style="z-index: 10;">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                         style="padding-bottom: 20px;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                            <p>I work with oil painting and ink drawing, mediums that I juxtapose and
                                                superimpose on
                                                canvas or paper. Since graduating from the Ecole Nationale Supérieure
                                                des Arts Décoratifs in
                                                Paris in 2019, I have developed a very personal technique of ink
                                                painting. I “rub” my support
                                                with a brush, which brush is loaded with ink and then dried with a dry
                                                wipe. I associate this
                                                technique with the practice of oil painting, whose transparency allows
                                                me a superposition
                                                process that has become part of my aesthetic.
                                                The main research axis of my work, arranged in different series, is the
                                                question of the
                                                individual. Individual taken both in its external dimension : place of a
                                                body in social space,
                                                otherness, and play of dissonances / consonances in the relationship of
                                                individual to
                                                individual. And internal : construction of mental images, « inner life
                                                », intimate and eminently
                                                personal.
                                                My Franco-Georgian mix as well as my twinship led me very early to a
                                                series of questions
                                                about identity, and were sometimes a source of difficulties in finding
                                                my place. My driving
                                                force is to represent the complexity of the relationship with the other,
                                                which is a subtle game
                                                between friction and harmony. This subject interests me all the more
                                                because it is transposable
                                                to many scales : intimate, family, but also political.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-60">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                         style="padding-bottom: 20px;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                            <p>My paintings thus show bodies, and fragments of bodies, superimposed in
                                                oil and ink,
                                                inscribed or not in an environment. These subjects are taken from
                                                personal photographs taken
                                                daily and compiled over many years, each having become a trace of a
                                                fragment of life. Flat
                                                areas of matte color made at the end of the process add rhythm and
                                                contrast to my
                                                compositions. I do not see them as backgrounds but rather as colored
                                                voids, whose presence is
                                                as important for the understanding of my works as that of the figurative
                                                components.
                                                Reading philosophical and scientific works (in particular in the field
                                                of neurology) has
                                                nourished my plastic work for many years, stimulating my desire to put
                                                my own questions on
                                                these subjects into images. My current research is based, in particular,
                                                on the essays of
                                                neuroscience researcher Lionel Naccache and his writings on the «
                                                discretionary » (in the
                                                mathematical sense of the term) of our inner life and our relationship
                                                to the world, despite the
                                                apparent and illusory « continuity » of our perception.
                                                My works in progress exhibit figurative subjects entirely superimposed,
                                                expressing my
                                                intimate view of an external world colored by the constant presence of
                                                my inner life.
                                                Faced with multiple sclerosis diagnosed in 2020, I conceive the colored
                                                voids, increasingly
                                                fragmented, of my compositions as references to the scars present in my
                                                brain, physical traces
                                                of this disease that accompanies me on a daily basis and establishes a
                                                new deal in the evolution
                                                of my relationship with the world.
                                                Being also a musician (piano with complete curriculum in conservatory,
                                                but also accordion,
                                                classical guitar and singing), I continue in parallel a work of
                                                composition and sound
                                                installation. My musical practice regularly inspires me to create
                                                abstract drawings, sometimes
                                                recorded in notebooks, sometimes forming a first layer made in ink and
                                                perceptible under the
                                                figurative subject of my compositions in oil on canvas.This alternation
                                                between drawing and
                                                music, this duality in cohesion, allows me to carry out in-depth formal
                                                research around the line
                                                and its expressiveness, and responds to a need to integrate more
                                                impulsive and improvised
                                                gestures into my mastery. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gdlr-core-pbf-wrapper ">
            <div class="gdlr-core-pbf-background-wrap">
                <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
                     style="background-image: url(upload/bg-light.jpg);background-size: cover;background-position: center;"
                     data-parallax-speed="0.3"></div>
            </div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn"
                 data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h2 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 38px;letter-spacing: 0px;text-transform: none;">
                                                Personal exhibitions<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                        <div class="gdlr-core-divider-container gdlr-core-left-align"
                                             style="max-width: 40px;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                                 style="border-color: #1c1c1c;border-bottom-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 50px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">

                                {% for personal_exhibition in personal_exhibitions %}


                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                                         style="padding-bottom: 36px;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                                style="font-size: 18px;font-weight: 500;letter-spacing: 0px;text-transform: none;">
                                                {{ personal_exhibition.title }}<span
                                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                        <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                              style="font-weight: 300;font-style: normal;">{{ personal_exhibition.date }}</span>
                                    </div>
                                </div>


                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gdlr-core-pbf-wrapper ">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
             style="background-image: url(upload/bg-light.jpg);background-size: cover;background-position: center;"
             data-parallax-speed="0.3"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn"
         data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h2 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                        style="font-size: 38px;letter-spacing: 0px;text-transform: none;">Group
                                        exhibitions<span
                                                class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 40px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                         style="border-color: #1c1c1c;border-bottom-width: 2px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 50px 0px;">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">


                    {% for group_exhibition in group_exhibitions %}


                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                             style="padding-bottom: 36px;">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 18px;font-weight: 500;letter-spacing: 0px;text-transform: none;">
                                    {{ group_exhibition.title }}<span
                                        class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                  style="font-weight: 300;font-style: normal;">{{ group_exhibition.date }}</span></div>
                    </div>


                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="gdlr-core-pbf-wrapper ">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js"
             style="background-image: url(upload/bg-light.jpg);background-size: cover;background-position: center;"
             data-parallax-speed="0.3"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js " data-gdlr-animation="fadeIn"
         data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h2 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                        style="font-size: 38px;letter-spacing: 0px;text-transform: none;">Fairs<span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 40px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                         style="border-color: #1c1c1c;border-bottom-width: 2px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 50px 0px;">
    <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">


                    {% for fair in fairs %}


                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr"
                             style="padding-bottom: 36px;">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 18px;font-weight: 500;letter-spacing: 0px;text-transform: none;">
                                    {{ fair.title }}<span
                                        class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                            </div>
                            <span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption"
                                  style="font-weight: 300;font-style: normal;">{{ fair.date }}</span></div>
                    </div>


                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="gdlr-core-pbf-wrapper " style="padding: 30px 0px 30px 0px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 109px 20px 80px 0px;"
                ">
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                             style="padding-bottom: 25px;">
                            <div class="gdlr-core-title-item-title-wrap ">
                                <h2 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                    style="font-size: 30px;letter-spacing: 0px;text-transform: none;">Residencies<span
                                        class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                            <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 33px;">
                                <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                     style="border-color: #353535;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-column gdlr-core-column-40">
            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 105px 0px 60px 0px;">
                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"
                     data-gdlr-animation="fadeInRight" data-gdlr-animation-duration="600ms"
                     data-gdlr-animation-offset="0.8">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                             style="padding-bottom: 0px;">
                            <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">
                                {% for residency in residencies %}
                                <p>{{ residency.location }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="gdlr-core-pbf-wrapper " style="padding: 30px 0px 30px 0px;">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 109px 20px 80px 0px;"
                     data-sync-height="height-3">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                                 style="padding-bottom: 25px;">
                                <div class="gdlr-core-title-item-title-wrap ">
                                    <h2 class="gdlr-core-title-item-title gdlr-core-skin-title "
                                        style="font-size: 30px;letter-spacing: 0px;text-transform: none;">Education<span
                                            class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                    </h2></div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal">
                                <div class="gdlr-core-divider-container gdlr-core-left-align" style="max-width: 33px;">
                                    <div class="gdlr-core-divider-line gdlr-core-skin-divider"
                                         style="border-color: #353535;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-40">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 105px 0px 60px 0px;"
                     data-sync-height="height-3">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"
                         data-gdlr-animation="fadeInRight" data-gdlr-animation-duration="600ms"
                         data-gdlr-animation-offset="0.8">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                                 style="padding-bottom: 0px;">
                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px;">


                                    {% for edu in education %}
                                    <p>{{ edu.education }}</p>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{% include 'gallery/footer.html' %}