{% load static %}
{% include 'gallery/nav.html' %}

            <div class="kleanity-page-title-wrap  kleanity-style-medium kleanity-center-align">
                <div class="kleanity-header-transparent-substitute"></div>
                <div class="kleanity-page-title-overlay"></div>
                <div class="kleanity-page-title-container kleanity-container">
                    <div class="kleanity-page-title-content kleanity-item-pdlr">
                        <h1 class="kleanity-page-title">Sound / Videos</h1>
                    </div>
                </div>
            </div>


            <div class="kleanity-page-wrapper" id="kleanity-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-medium" style="padding-bottom: 40px;">
                                    <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                        <div class="gdlr-core-item-list gdlr-core-portfolio-medium  gdlr-core-size-small gdlr-core-style-right gdlr-core-item-pdlr">
                                            <div class="gdlr-core-portfolio-content-wrap" style="width: 40%;">
                                                <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 22px;font-weight: 700;letter-spacing: 0px;text-transform: none;"><a href="#">Arrêt sur images</a></h3></span>
                                                <div class="gdlr-core-portfolio-content">This video made by Thais Despont presents my exhibition “Arrêt sur image” (December 2022 - January 2023), with an excerpt from the immersive sound installation that I created for the occasion, entitled “ Solitudes: composition à plusieurs voix ”. With the voices of : Cédric Welsch, Francis Leonesi, Morgane Goaziou, Romain Francisco, Manon Tissier, Nina Dotti, Inaya Trottemant, Gabrielle Kourdadzé, Jennyfer Trottemant, Armand Leroy, Baptiste Briouze, Thibaud Pislor, France Albert, Ecem Cicek, Hélène Deregnier, Fabienne Degouy, Lya Descamps, Tina Kourdadzé, Daniele Rezzi, Romain Daitré, Raoul Gogly, Agathe Vidal, Taor Lipietz-Tropp, Olivier Denizet, Simon Voirin, Françoise Krief, Agnès Kourdadzé, Lucie Troisbé-Baumann, Garance Chansigaud-Fargepallet, Emmanuel Guillon, Robin Summa.summa , Léa-Amélia Casagrande.</div>
                                            </div>
                                            <div class="gdlr-core-portfolio-thumbnail-wrap" style="width: 60%;">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover"><a class="gdlr-core-ilightbox gdlr-core-js " href="{% static 'upload/Video _Arrêt sur images_.mp4' %}" data-caption="Arrêt sur images" data-ilightbox-group="gdlr-core-img-group-1"><img src="{% static 'upload/video-thumbnail.JPG' %}" width="1800" height="1080" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="fa fa-play" style="font-size:34px"></i></span></span></span></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'gallery/footer.html' %}