{% load static %}
{% include 'gallery/nav.html' %}

            <div class="kleanity-page-title-wrap  kleanity-style-medium kleanity-center-align">
                <div class="kleanity-header-transparent-substitute"></div>
                <div class="kleanity-page-title-overlay"></div>
                <div class="kleanity-page-title-container kleanity-container">
                    <div class="kleanity-page-title-content kleanity-item-pdlr">
                        <h1 class="kleanity-page-title">Works on paper</h1>
                    </div>
                </div>
            </div>
            <div class="kleanity-page-wrapper" id="kleanity-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-metro" style="padding-bottom: 10px;">


<!--                                        <div class="filter-container gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="masonry">-->

<!--                                            {% for work in works %}-->
<!--                                                <div style=" margin-bottom: 60px; " class="gdlr-core-item-list class1 gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-20 gdlr-core-column-first">-->
<!--                                                    <div class="gdlr-core-portfolio-metro">-->
<!--                                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">-->
<!--                                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">-->
<!--                                                                <a class="gdlr-core-ilightbox gdlr-core-js " href="{{ work.image.url }}" data-caption="{{ work.description }}"-->
<!--                                                                    data-ilightbox-group="gdlr-core-img-group-1">-->
<!--                                                                    <img src="{{ work.thumbnail.url }}" width="700" height="660" loading="lazy" alt=""><span-->
<!--                                                                        class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">-->
<!--                                                                        <span class="gdlr-core-image-overlay-content">-->
<!--                                                                            <span class="gdlr-core-portfolio-icon-wrap">-->
<!--                                                                                <i class="gdlr-core-portfolio-icon arrow_expand"></i>-->
<!--                                                                            </span>-->
<!--                                                                            <span class="gdlr-core-portfolio-title gdlr-core-title-font"-->
<!--                                                                                style="font-size: 19px;font-weight: 600;letter-spacing: 0px;text-transform: none;">-->
<!--                                                                                <p>{{ work.title }}</p>-->
<!--                                                                            </span>-->
<!--                                                                        </span>-->
<!--                                                                    </span>-->
<!--                                                                </a>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            {% endfor %}-->


<!--                                            -->
<!--                                        </div>-->

                                        <div class="filter-container gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="masonry">

                                            {% for work in works %}

                                            <div style=" margin-bottom: 60px; " class="gdlr-core-item-list gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-20 gdlr-core-column-first" >
                                                <div class="gdlr-core-portfolio-metro">
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js gallery-item "data-large="{{ work.image.url }}" data-description="{{ work.description }}">
                                                                <img src="{{ work.thumbnail.url }}" width="700" height="660" alt=""><span
                                                                    class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="cursor: pointer;">
                                                                    <span class="gdlr-core-image-overlay-content" style="top: 20%;">
                                                                        <span class="gdlr-core-portfolio-icon-wrap">
                                                                            <i class="gdlr-core-portfolio-icon arrow_expand"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font"
                                                                            style="font-size: 16px;font-weight: 600;letter-spacing: 0px;text-transform: none;">
                                                                            <p>{{ work.title }}</p>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% endfor %}

                                            <div class="custom-popup" id="customPopup">
                                                <button style=" margin-top: 60px; margin-right: 60px; font-size: 40px; " class="close" id="customClose">&times;</button>
                                                <div class="controls">
                                                    <button style=" margin-left: 20px; " id="customPrev">&#10094;</button>
                                                    <button style=" margin-right: 20px; " id="customNext">&#10095;</button>
                                                </div>
                                                <div class="popup-content">
                                                    <img src="" alt="Popup Image" id="customPopupImage">
                                                    <div class="popup-description" id="customPopupDescription"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'gallery/footer.html' %}